.hero--img-section {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.hero--img {
    max-width: 400px;
}

.hero--intro-section {
    padding: 1.5em 2em;
    width: 60vh;
}

.hero--title {
    font-size: 2.25rem;
    margin: 0;
}

.hero--text {
    margin: 0;
    padding-top: 0.5em;
}